*~
service/spotify_appkey.key
dependencies/
service/clear.rb
*.pyc
service/config.py
service/config.rb
service/bk/
service/tmp/
service/log/supervise
service/supervise
htdocs/config.php
service/config.rb
