/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}

/* BODY */
body {background:white; font-family:Helvetica, Arial, sans-serif; }
a {color:#000; text-decoration: none;}
a:hover {border-bottom: 2px solid #000;}

h1 a:hover {border-bottom:0;}


#frame {width:380px; margin:40px auto;}
h1 {text-align:center; text-shadow: 2px 2px 2px #999; font-size:80px; font-weight:bold; text-transform:uppercase; color:#222;}
#tagline {text-align:center; margin-bottom:80px; font-size:20px;}
h2 {text-shadow: 1px 1px 1px #B5C6A8; font-size:35px; font-weight:bold; color:#222; margin-bottom:20px; text-align:center;}
h3 {color: #000; font-size: 18px; font-weight: bold; text-shadow: 1px 1px 1px #ccc; line-height: 1em; margin:0 0 5px 0;}
h4 {color: #000; font-size: 16px; font-weight: bold; text-shadow: 1px 1px 1px #ccc; line-height: 1em; margin:25px 0 5px 0; text-align:center;}
p { margin: 0 0 20px 0; color:#333;}
p a { color:#000;}

table tr td {font-size:13px;}


form {text-align:center;}
.smallmeta {text-align:center; color:#999; font-size:12px; line-height:20px; margin:5px 80px;}
.smallmeta a {color:#888; text-decoration:underline;}
.smallmeta a:hover {border-bottom-width:0;}

.bigmessage {font-size:17px; text-align:center; padding:40px 0; font-style:italic; background-color:#eee; margin-bottom:20px; }

.playlist-list td {vertical-align:top;}
.playlist-list-name {text-align:right; padding-right:25px; white-space:nowrap;}
.playlist-list-desc {padding-bottom:20px; line-height:18px;}
tr.discrete td, tr.discrete td h3 {color:#aaa !important;}

/*.listen-in {padding-top:50px;}*/
.listen-in {position:absolute; right:15px; top:40px; background-color:#eee; padding:20px; font-size:15px;}
.listen-in a {display:block; font-size:12px;}

#footer {color:#888; font-size:13px; line-height:20px; margin:100px 0 20px 0; padding-top:15px; border-top:1px solid #eee;}
#footer p {color:#888;}
#footer a {color:#888; text-decoration:underline;}
#footer a:hover {border-bottom-width:0;}

#artistsContainer {overflow:auto; width:396;}
.lastfmartist {width:126px; height:126px; border:1px solid #333; position:relative; background:url('http://stalkify.com/indicator.gif') center center no-repeat; cursor:pointer;}
.lastfmartist-meta div {position:absolute; left:5px; background-color:#333; color:white; font-size:11px; padding:1px; font-weight:bold;}
.lastfmartist-meta .lastfmartist-name {bottom:20px;}
.lastfmartist-meta .lastfmartist-playcount {bottom:5px; font-size:9px;}
#artistsContainer li {width:126px; height:126px; overflow:hidden; float:left; font-size:10px; text-align:left; line-height:12px;}
#artistsContainer li img {background-color:#BDBD1D;}
